<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Moods</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/lvp.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />


</head>
<body class="container">

    <div class="row">
        <div id="react" class="col-md-06 col-xs-12"></div>
    </div>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="built/bundle.js"></script>
</body>
</html>